<div class="inner">
	<h1>About WeDidIt.us</h1>
	<p>&nbsp;</p>
	<p>During the cloud of inspiration following the projections for Barack Obama, developers Scott Andreas &amp; Akshay Dodeja, 
		designer Chris King, and marketer Justin Thiele set forth to create a platform for America to reach out to the rest of the world.</p>
	<p>&nbsp;</p>
	<p>Yes, America made (more than) a few mistakes these past few years, but we are now trying to make up for it. Let's let the world know.  <a href="http://www.WeDidIt.us">http://www.WeDidIt.us</a></p>
	<p>&nbsp;</p>
	<p>Any questions?  <a href="mailto:wedidit@mugasha.com">wedidit@mugasha.com</a></p>
	<p>&nbsp;</p>
	<p>Yes We Did,</p>
	<p>&nbsp;</p>

	<a href="http://www.twitter.com/cscotta">Scott Andreas</a><br />
	<a href="http://www.twitter.com/dodeja">Akshay Dodeja</a><br />
	<a href="http://www.twitter.com/iheartdzgn">Chris King</a><br />
	<a href="http://www.twitter.com/ninjasleepover">Justin Thiele</a>
</div>